@import "../config";

.no-display { display: none; }

.wrap { position: relative; }

.tooltip {
  @include x-prefix(animation, tooltip 0.8s);

  background-color: #2d2d2d;
  border-radius: 4px;
  color: #fff;
  opacity: 1;
  position: absolute;
  transform: translateZ(0);

  &:after {
    position: absolute;
    display: block;
    content: "";
  }

  &--left:after {
    right: -8px;
    top: 10px;
    border: {
      style: solid;
      width: 6px 0 6px 8px;
      color: transparent transparent transparent #2d2d2d;
    }
    transform: translateY(-50%);
  }

  &--right:after {
    left: -8px;
    top: 10px;
    border: {
      style: solid;
      width: 6px 8px 6px 0;
      color: transparent #2d2d2d transparent transparent;
    }
    transform: translateY(-50%);
  }

  &--top:after {
    bottom: -8px;
    left: 50%;
    border: {
      style: solid;
      width: 8px 6px 0 6px;
      color: #2d2d2d transparent transparent transparent;
    }
    margin-left: -4px;
    transform: translateX(-50%);
  }

  &--bottom:after {
    top: -8px;
    left: 50%;
    border: {
      style: solid;
      width: 0 6px 8px 6px;
      color: transparent transparent #2d2d2d transparent;
    }
    margin-left: -4px;
    transform: translateX(-50%);
  }
}

.tooltip-content {
  font-size: 1.4rem;
  min-width: 100px;
  padding: 10px;
}

@include x-keyframes(tooltip) {
  0% {
    opacity: 0;
    transform: matrix(0.5, 0, 0, 0.8, 0, 0);
  }
  20% { transform: matrix(1.1, 0, 0, 1.1, 0, 0); }
  40% { opacity: 1; }
  70% { transform: matrix(1, 0, 0, 1, 0, 0); }
  100% { transform: matrix(1, 0, 0, 1, 0, 0); }
}
